<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN PAGE</title>
</head>
<body>
</body>
<footer>
    <p>
        <h1>Hello World !</h1>
        <h2>{{2**23}}</h2>
        <h2>Random Number: {{ num }}</h2>
        <a href="{{ url_for('get_blog', num=3) }}">Go to Blog</a> <br>
        &copy; Arpit Sengar {{year}}
    </p>
</footer>
 
</html>