{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is who I am.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi there! My name is Arpit Sengar, a passionate computer science student. I have always been intrigued by the power of technology and its endless possibilities. From a young age, I knew that I wanted to pursue a career in the field of computer science, and that's why I am currently pursuing   a degree in Computer Science.
        </p>
        <p>My fascination with computer science has led me to explore various areas such as programming, software development and web development. I am constantly learning and improving my skills through hands-on experience and online courses. I believe that staying up-to-date with the latest technology trends is crucial in this fast-paced industry, and I am committed to keeping myself informed and knowledgeable.
        </p>
        <p>In addition to my technical skills, I am also a creative thinker and problem solver. I love brainstorming new ideas and finding innovative solutions to complex problems. As a computer science student, I am passionate about applying my skills to create impactful projects!
        </p>
        <p>
          When I am not studying or working on projects, I enjoy sketching. Besides, I also spend my time finding new opportunities such as hackathons and coding competitions.
          I am excited to share my experiences and knowledge with you through this blog. I hope to inspire and motivate other computer science enthusiasts to pursue their passions and achieve their goals. Thank you for visiting my blog!
        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}