::selection {
    color: #ff4c68;
    background: white;
  }

a {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    font-family: 'Montserrat';
}

#title {
    background-color: #ff4c68;
    color: white;

}

.container-fluid{
    padding: 3% 15%;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

/* NAVIGATION BAR */

.navbar {
    padding: 0 0 4.5rem;

}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light", sans-serif;
}

/* download-button */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
}


/* features section */

h3 {
    font-size: 1.5rem;
    color: black;
    font-weight: 800;
}

#features {
    padding: 7% 15%;
}

.feature-box{
    text-align: center;
    padding: 4.4%;
}

p{
    color: #8f8f8f;
}

.icon{
    margin-bottom: 1rem;
    
}

.icon:hover{
    color: #ff4c68 !important;
}

/* testimonials */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

h2{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 800;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/* press section */
#press {
    background-color: #ef8172;
    text-align: center;
    padding: 3%;
}

.press-logo{
    width: 15%;
    margin: -30px 20px 50px 0px;
}

/* pricing */
#pricing{
    text-align: center;
}